* {
  margin: 0;
}
body {
  position: relative;
  text-align: center;
  background-image: url("./bg.png");
  background-size: cover;
  background-position: center;
}
.container {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
button {
  padding: 1rem 4rem;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  position: relative;
  cursor: pointer;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #000;
  margin-bottom: 10%;
}
button:hover {
  background-color: #000;
  color: #f5f5f5;
  scale: 1.1;
}
.login-button {
  margin-top: 10%;
}
